g#js-entire-caleydoscope.h-g
  mask#caleydoscope-mask
    circle#js-c-mask1(r="125", fill="white", stroke="none", stroke-width="0", transform="translate(640,450)")
    //- circle#js-c-mask2(r="25", fill="black", stroke="none", stroke-width="0", transform="translate(640,450)", opacity="0")
    g#js-c-blow(transform="translate(640,450)", opacity="0")
      - for (var i = 0; i < 25; i++)
        circle(r="0", fill="white")

  g#js-caleydoscope.caleydoscope(stroke='none', stroke-width='0', fill='none', fill-rule='evenodd', mask="url(#caleydoscope-mask)")
    g(transform="translate(422,231)")
      g(fill='url(#caleydoscope-pattern2)')
        path#Path-2(d='M218.275391,367.365252 C218.275391,367.365252 273.773438,371.239258 323.770508,323.578125 C317.878906,317.69043 218.275391,218.189453 218.275391,218.189453 L218.275391,367.365252 L218.275391,367.365252 Z')
        path#Path-2(d='M255.328694,308.115032 C255.328694,308.115032 310.826741,311.989038 360.823811,264.327905 C354.932209,258.44021 255.328694,158.939233 255.328694,158.939233 L255.328694,308.115032 L255.328694,308.115032 Z', transform='translate(307.828694, 233.439233) rotate(-45.000000) translate(-307.828694, -233.439233) ')
        path#Path-2(d='M239.189453,239.900408 C239.189453,239.900408 294.6875,243.774414 344.68457,196.113281 C338.792968,190.225586 239.189453,90.724609 239.189453,90.724609 L239.189453,239.900408 L239.189453,239.900408 Z', transform='translate(291.689453, 165.224609) rotate(-90.000000) translate(-291.689453, -165.224609) ')
        path#Path-2(d='M180.939233,202.847106 C180.939233,202.847106 236.43728,206.721112 286.43435,159.059979 C280.542748,153.172284 180.939233,53.6713062 180.939233,53.6713062 L180.939233,202.847106 L180.939233,202.847106 Z', transform='translate(233.439233, 128.171306) rotate(225.000000) translate(-233.439233, -128.171306) ')
        path#Path-2(d='M112.824218,218.769549 C112.824218,218.769549 168.322264,222.643555 218.319334,174.982422 C212.427732,169.094727 112.824218,69.5937499 112.824218,69.5937499 L112.824218,218.769549 L112.824218,218.769549 Z', transform='translate(165.324218, 144.093750) rotate(180.000000) translate(-165.324218, -144.093750) ')
        path#Path-2(d='M75.7709146,278.019768 C75.7709146,278.019768 131.268962,281.893774 181.266032,234.232641 C175.37443,228.344946 75.7709146,128.84397 75.7709146,128.84397 L75.7709146,278.019768 L75.7709146,278.019768 Z', transform='translate(128.270915, 203.343970) rotate(135.000000) translate(-128.270915, -203.343970) ')
        path#Path-2(d='M91.910156,346.234393 C91.910156,346.234393 147.408203,350.108399 197.405273,302.447266 C191.513671,296.559571 91.910156,197.058594 91.910156,197.058594 L91.910156,346.234393 L91.910156,346.234393 Z', transform='translate(144.410156, 271.558594) rotate(90.000000) translate(-144.410156, -271.558594) ')
        path#Path-2(d='M150.160377,383.287696 C150.160377,383.287696 205.658424,387.161702 255.655494,339.500569 C249.763892,333.612874 150.160377,234.111897 150.160377,234.111897 L150.160377,383.287696 L150.160377,383.287696 Z', transform='translate(202.660377, 308.611897) rotate(45.000000) translate(-202.660377, -308.611897) ')
      g#Group(transform='translate(51.000000, 51.000000)')
        g#js-caleydoscope-center1(transform='translate(93.000000, 93.000000)', fill='url(#caleydoscope-pattern5)')
          path(d='M95.7020358,52.0460774 L126.247615,83.1473624 L95.9597818,125.35181 L95.7020358,52.0460774 L95.7020358,52.0460774 Z', transform='translate(111.202036, 88.546077) rotate(-45.000000) translate(-111.202036, -88.546077) ')
          path(d='M73.0460768,0.297964777 L103.591656,31.3992506 L73.3038228,73.6036986 L73.0460768,0.297964777 L73.0460768,0.297964777 Z', transform='translate(88.546077, 36.797965) rotate(225.000000) translate(-88.546077, -36.797965) ')
          path(d='M21.3975739,23.7371263 L51.9431529,54.8384123 L21.6553199,97.0428603 L21.3975739,23.7371263 L21.3975739,23.7371263 Z', transform='translate(36.897574, 60.237126) rotate(135.000000) translate(-36.897574, -60.237126) ')
          path(d='M44.0535316,75.4852388 L74.5991106,106.586524 L44.3112776,148.790972 L44.0535316,75.4852388 L44.0535316,75.4852388 Z', transform='translate(59.553532, 111.985239) rotate(45.000000) translate(-59.553532, -111.985239) ')
        g#Path-4(fill='url(#caleydoscope-pattern)')
          path#Path-2(d='M167.69428,167.345229 L198.239859,198.446515 L167.952026,240.650963 L167.69428,167.345229 L167.69428,167.345229 Z')
          path#Path-2(d='M166.401155,166.250793 L166.147584,94.1322404 L135.85975,136.336688 L166.405329,167.437974 L166.401348,166.305523 L239.650963,166.047974 L197.446515,135.760141 L166.401155,166.250793 L166.401155,166.250793 Z')
          path#Path-2(d='M115.75438,147.477483 L146.299959,178.578769 L116.012126,220.783217 L115.75438,147.477483 L115.75438,147.477483 Z', transform='translate(131.254380, 183.977483) rotate(90.000000) translate(-131.254380, -183.977483) ')
      g#Group(fill='url(#caleydoscope-pattern5)', transform='translate(38.000000, 38.000000)')
        g#js-caleydoscope-center2(transform='translate(57.000000, 57.000000)', fill='url(#caleydoscope-pattern2)')
          path(d='M152.89785,147.552395 L182.734172,105.45397 L238.584602,161.247316 L152.89785,147.552395 L152.89785,147.552395 Z', transform='translate(195.897850, 133.453970) rotate(-45.000000) translate(-195.897850, -133.453970) ')
          path(d='M90.4539705,64.2005755 L120.290293,22.1021505 L176.140724,77.8954965 L90.4539705,64.2005755 L90.4539705,64.2005755 Z', transform='translate(133.453971, 50.102150) rotate(225.000000) translate(-133.453971, -50.102150) ')
          path(d='M7.20175883,127.427659 L37.0380807,85.3292341 L92.8885109,141.12258 L7.20175883,127.427659 L7.20175883,127.427659 Z', transform='translate(50.201759, 113.329234) rotate(135.000000) translate(-50.201759, -113.329234) ')
          path(d='M69.6456395,210.779479 L99.4819615,168.681054 L155.332391,224.4744 L69.6456395,210.779479 L69.6456395,210.779479 Z', transform='translate(112.645639, 196.681054) rotate(45.000000) translate(-112.645639, -196.681054) ')
        g#Path-5(fill='url(#caleydoscope-pattern5)')
          path(d='M248.206065,256.465437 L334.555066,194.473174 L352.806975,212.954731 C352.806975,212.954731 315.441241,255.491946 248.206065,256.465437 L248.206065,256.465437 Z', transform='translate(300.706065, 225.473174) rotate(-45.000000) translate(-300.706065, -225.473174) ')
          path(d='M172.973175,90.2861978 L259.322176,28.2939354 L277.574085,46.7754919 C277.574085,46.7754919 240.208351,89.3127075 172.973175,90.2861978 L172.973175,90.2861978 Z', transform='translate(225.473175, 59.293935) rotate(225.000000) translate(-225.473175, -59.293935) ')
          path(d='M6.89354444,166.302292 L93.2425454,104.310029 L111.494455,122.791586 C111.494455,122.791586 74.1287205,165.328801 6.89354444,166.302292 L6.89354444,166.302292 Z', transform='translate(59.393544, 135.310029) rotate(135.000000) translate(-59.393544, -135.310029) ')
          path(d='M82.1264343,332.481531 L168.475435,270.489268 L186.727345,288.970825 C186.727345,288.970825 149.36161,331.50804 82.1264343,332.481531 L82.1264343,332.481531 Z', transform='translate(134.626434, 301.489268) rotate(45.000000) translate(-134.626434, -301.489268) ')

  g#js-velocity-text(transform="translate(470,425) scale(1)", fill-rule='evenodd', fill="url(#caleydoscope-pattern4)").h-g
    path#Path(d='M50.542,10.419 L62.479,10.419 L62.479,0.828 L39.571,0.828 L39.571,50.094 L62.479,50.094 L62.479,40.503 L50.542,40.503 L50.542,29.739 L59.029,29.739 L59.029,20.148 L50.542,20.148 L50.542,10.419 Z')
    path#Path(d='M78.59,0.828 L67.619,0.828 L67.619,50.094 L89.837,50.094 L89.837,40.503 L78.59,40.503 L78.59,0.828 Z')
    path#Path(d='M110.916,-5.68434189e-14 C96.081,-5.68434189e-14 94.977,7.59 94.977,25.53 C94.977,44.091 96.081,50.922 110.916,50.922 C125.751,50.922 126.855,44.091 126.855,25.53 C126.855,7.59 125.751,-5.68434189e-14 110.916,-5.68434189e-14 Z M110.916,9.591 C114.366,9.591 114.78,12.144 114.78,25.53 C114.78,39.192 114.366,41.331 110.916,41.331 C107.466,41.331 107.052,39.192 107.052,25.53 C107.052,12.144 107.466,9.591 110.916,9.591 Z')
    path#Path(d='M148.003,41.331 C144.553,41.331 144.07,39.192 144.07,25.53 C144.07,12.144 144.622,9.591 148.072,9.591 C151.108,9.591 151.729,12.696 151.729,17.112 L163.735,17.112 C163.735,6.969 159.388,-5.68434189e-14 148.624,-5.68434189e-14 C134.341,-5.68434189e-14 131.995,6.9 131.995,25.53 C131.995,44.781 134.065,50.922 148.624,50.922 C159.388,50.922 163.735,43.953 163.735,33.81 L151.729,33.81 C151.729,38.364 151.039,41.331 148.003,41.331 L148.003,41.331 Z')
    path#Path(d='M168.875,0.828 L168.875,50.094 L179.846,50.094 L179.846,0.828 L168.875,0.828 Z')
    path#Path(d='M205.824,10.419 L215.691,10.419 L215.691,0.828 L184.986,0.828 L184.986,10.419 L194.853,10.419 L194.853,50.094 L205.824,50.094 L205.824,10.419 Z')
    path#Path(d='M243.187,50.094 L243.187,28.083 L255.193,0.828 L243.601,0.828 L237.667,17.664 L231.733,0.828 L220.141,0.828 L232.147,28.083 L232.147,50.094 L243.187,50.094 Z')
    path#Path(d='M281.274,33.189 C281.274,45.471 283.965,50.922 296.523,50.922 C309.012,50.922 309.978,45.264 309.978,25.53 L309.978,0.828 L299.007,0.828 L299.007,25.53 C299.007,40.296 298.11,41.331 296.523,41.331 C294.384,41.331 293.349,40.158 293.349,33.189 L281.274,33.189 Z')
    path#Path(d='M329.539,9.591 C331.264,9.591 331.54,11.109 331.54,17.112 L343.546,17.112 C343.546,6.969 339.889,-5.68434189e-14 329.815,-5.68434189e-14 C318.637,-5.68434189e-14 315.739,4.002 315.739,14.145 C315.739,28.911 331.195,27.738 331.195,36.846 C331.195,39.606 330.919,41.331 329.263,41.331 C327.124,41.331 327.124,37.674 327.124,33.258 L315.118,33.258 C315.118,43.401 317.395,50.922 329.263,50.922 C341.959,50.922 343.201,45.195 343.201,36.915 C343.201,22.563 327.469,23.115 327.469,14.421 C327.469,10.488 328.021,9.591 329.539,9.591 L329.539,9.591 Z')
    path#Path(d='M22.77,0.828 L17.181,33.879 L11.661,0.828 L0,0.828 L11.73,50.094 L22.701,50.094 L34.431,0.828 L22.77,0.828 Z')

  - var blue = '#1F2947'
  - var burstLen = 20, burstStart = 5
  //- mask#burst-mask
  g#js-caleydoscope-burst(transform="translate(30,-45)")
    - var cnt = 4, PI = 3.141598, rotateStep = 360/cnt, rotateAngle = 0;
    - var centerX = 640, centerY = 450, radius = burstStart, radius2 = burstStart + burstLen, angle = 0;
    - var step = (2*PI)/cnt, initRotate = 40;
    - for (var i = 0; i < cnt; i++)
      - var x1 = centerX + Math.cos(angle)*radius
      - var y1 = centerY + Math.sin(angle)*radius
      - var x2 = centerX + Math.cos(angle)*radius2
      - var y2 = centerY + Math.sin(angle)*radius2
      path(d="M#{x1},#{y1} L#{x2},#{y2}", stroke-dashoffset="#{burstLen}", stroke-dasharray="#{burstLen}", stroke="white", stroke-width="4", stroke-linecap="round", opacity=".85")
      - angle = angle + step

  - var blue = '#1F2947'
  - var burstLen = 10, burstStart = 5
  //- mask#burst-mask
  g#js-caleydoscope-burst2(transform="translate(15,-55)")
    - var cnt = 4, PI = 3.141598, rotateStep = 360/cnt, rotateAngle = 0;
    - var centerX = 640, centerY = 450, radius = burstStart, radius2 = burstStart + burstLen, angle = 0;
    - var step = (2*PI)/cnt, initRotate = 40;
    - for (var i = 0; i < cnt; i++)
      - var x1 = centerX + Math.cos(angle)*radius
      - var y1 = centerY + Math.sin(angle)*radius
      - var x2 = centerX + Math.cos(angle)*radius2
      - var y2 = centerY + Math.sin(angle)*radius2
      path(d="M#{x1},#{y1} L#{x2},#{y2}", stroke-dashoffset="#{burstLen}", stroke-dasharray="#{burstLen}", stroke="white", stroke-width="4", stroke-linecap="round", opacity=".85")
      - angle = angle + step

  