g#js-svg-circles.h-g
  - for (var i = 0; i < 30; i++ )
    - var x = 640 + rand(-400,400);
    - var y = 450 + rand(-400,400);
    circle(fill="white", stroke="", r="#{0}", transform="translate(#{x},#{y})", data-x="#{x}", data-y="#{y}")
