- var color = ['#E01A3B', '#9EA64D', '#FF1493', '#E01A3B', '#9EA64D']

- function randColor() {
- return color[rand(0, color.length-1)]
-}

g#js-entire-tri-bits
  g#js-tri-bits1(transform="translate(1050,595)").tri-bits
    g
      path(d='M9.66407436,7.0137519 L4.98144531,0.208007812 L0.272595789,7.00263183 L9.66407436,7.0137519 Z', fill='#{randColor()}')
    g
      path(d='M20.551949,7.01225816 L22.9033203,1.46484375 L29.3935547,1.65039062 L30.7656487,7.01225816 L20.551949,7.01225816 Z', fill='#{randColor()}')
    g
      path(d='M13.3127845,6.92877466 L13.3811646,4.81861722 L16.712206,6.92196984 L13.3127845,6.92877466 Z', fill='#{randColor()}')
    g
      path(d='M33.4034463,6.87387377 L38.9947917,5.58007812 L39.1614583,7.02604167 L33.4034463,6.87387377 Z', fill='#{randColor()}')
    g
      path(d='M18.5669042,6.95430458 L20.688058,2.48046875 L25.8151911,7.02977701 L18.5669042,6.95430458 Z', fill='#{randColor()}')
    g
      path(d='M41.4730297,6.93669978 L41.6464696,4.31651887 L42.8564735,6.90572838 L41.4730297,6.93669978 Z', fill='#{randColor()}')

  g#js-tri-bits2.tri-bits.tri-bits--2(transform="translate(650, 380)")
    path#Path-1(d='M16.6640744,13.0137519 L11.9814453,6.20800781 L7.27259579,13.0026318 L16.6640744,13.0137519 Z', fill='#{randColor()}')
    //- path#Path-2(d='M3.55194898,13.0122582 L5.90332031,7.46484375 L12.3935547,7.65039062 L13.7656487,13.0122582 L3.55194898,13.0122582 Z', fill='#{randColor()}')
    path#Path-5(d='M6.56690416,12.9543046 L8.68805804,8.48046875 L13.8151911,13.029777 L6.56690416,12.9543046 Z', fill='#{randColor()}')
    path#Path-6(d='M10.4730297,12.9366998 L10.6464696,10.3165189 L11.8564735,12.9057284 L10.4730297,12.9366998 Z', fill='#{randColor()}')
    //- path#Path-7(d='M14.9366227,12.9391123 L5.20938448,3.73667489 L3.38867188,12.9661458 L14.9366227,12.9391123 Z', fill='#{randColor()}', transform='translate(9.000000, 8.500000) rotate(-71.000000) translate(-9.000000, -8.500000) ')
    //- path#Path-8(d='M8.7224725,12.992555 L7.48100816,9.9986011 L11.379339,8.86402219 L13.0098397,10.2301309 L11.6299554,13.0172847 L8.7224725,12.992555 Z', fill='#{randColor()}')
    path#Path-9(d='M21.0124238,6.41356567 L9.33528699,8.79513873 L9.28775646,17.928864 L21.0124238,6.41356567 L21.0124238,6.41356567 Z', fill='#{randColor()}')

  g#js-tri-bits3.tri-bits.tri-bits--3(transform="translate(650, 380)")
    //- path#Path-1(d='M16.6640744,13.0137519 L11.9814453,6.20800781 L7.27259579,13.0026318 L16.6640744,13.0137519 Z', fill='#{randColor()}')
    //- path#Path-2(d='M3.55194898,13.0122582 L5.90332031,7.46484375 L12.3935547,7.65039062 L13.7656487,13.0122582 L3.55194898,13.0122582 Z', fill='#{randColor()}')
    //- path#Path-5(d='M6.56690416,12.9543046 L8.68805804,8.48046875 L13.8151911,13.029777 L6.56690416,12.9543046 Z', fill='#{randColor()}')
    //- path#Path-6(d='M10.4730297,12.9366998 L10.6464696,10.3165189 L11.8564735,12.9057284 L10.4730297,12.9366998 Z', fill='#{randColor()}')
    //- path#Path-7(d='M14.9366227,12.9391123 L5.20938448,3.73667489 L3.38867188,12.9661458 L14.9366227,12.9391123 Z', fill='#{randColor()}', transform='translate(9.000000, 8.500000) rotate(-71.000000) translate(-9.000000, -8.500000) ')
    path#Path-8(d='M8.7224725,12.992555 L7.48100816,9.9986011 L11.379339,8.86402219 L13.0098397,10.2301309 L11.6299554,13.0172847 L8.7224725,12.992555 Z', fill='#{randColor()}')
    path#Path-9(d='M21.0124238,6.41356567 L9.33528699,8.79513873 L9.28775646,17.928864 L21.0124238,6.41356567 L21.0124238,6.41356567 Z', fill='#{randColor()}')
    //- path#Path-10(d='M13.8417969,13.0253906 L13.2405871,8.05989188 L3.6188151,13.0253906 L13.8417969,13.0253906 Z', fill='#{randColor()}')
    path#Path-11(d='M12.4791083,3.93326449 L13.8416232,11.8895636 L3.49996353,9.16022637 L12.4791083,3.93326449 L12.4791083,3.93326449 Z', fill='#{randColor()}')
    path#Path-12(d='M17.4643917,8.89056135 L15.7609602,13.8639656 L12.6676402,11.6599671 L17.4643917,8.89056135 L17.4643917,8.89056135 Z', fill='#{randColor()}')
    //- path#Path-13(d='M10.4056937,8.65380019 L11.8587073,11.6312202 L8.8066119,12.4944809 L6.73122934,14.1302118 L4.60005362,12.0553925 C4.60005362,12.0553925 7.76649872,10.1067159 7.95698688,9.99673749 C8.14747505,9.88675909 10.4056937,8.65380019 10.4056937,8.65380019 L10.4056937,8.65380019 Z', fill='#{randColor()}')
    path#Path-14(d='M3.06144306,10.3358135 L10.6422568,11.4791889 L14.6392799,11.5545799 L15.2522212,6.68263151 L19.2122425,8.5858604 L16.1261376,2.78614282 L3.06144306,10.3358135 L3.06144306,10.3358135 Z', fill='#{randColor()}')
    //- path#Path-15(d='M1.66749997,0.392762944 L7.04291525,8.3999789 L10.3742789,8.90853371 L12.0888708,17.8918984 L19.3320042,10.7214234 L1.66749997,0.392762944 L1.66749997,0.392762944 Z', fill='#{randColor()}')
